.nav {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
}

.navLink {
    composes: nav;
}

.activeNavLink {
    composes: nav;
}

.activeNavLink p {
    color: white;
}

.activeNavLink svg {
    fill: white
}