.container {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    min-width: 50%;
}

.list {
    display: flex; 
    flex-direction: column; 
    gap: 10px;
    overflow-y: auto;
}

.element {
    position: relative;
    display: flex;
    align-items: center;
}

.dragIcon {
    width: 32px;
    top: 40%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.price {
    display: flex;
    align-items: center;
}
