.main {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
}

.main p {
    height: 64px;
}

.menu {
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

.form {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.footer button {
    padding: 0;
}