.container {
    display: flex;
    flex-direction: column;
    flex: 0 1;
    min-width: 35%;
}

.title {
    flex: 0 1;
}

.tabs {
    display: flex;
    flex: 0 1;
}

:global .tab {
    flex: 1 1;
    min-width: auto;
}

.categories {
    overflow-y: auto;
    overflow-x: hidden;
}

.category {
    display: flex;
    flex-direction: column;
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
}