.container {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.tabs {
    display: flex;
}

.category {
    display: flex;
    flex-direction: column;
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
}